<% if (model && model.length > 0) { %>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Angestellte</th>
			<th>Adresse</th>
			<th>E-Mail</th>
			<th>Kontakt</th>
		</tr>
	</thead>
	<tbody>
	<% for (var i in model) { %>
		<tr>
			<td><%= ((state.currentPage - state.firstPage) * state.pageSize + parseInt(i) + 1) %></td> 
			<td>
				<%=model[i].name %>
			</td>
			<td><%= model[i].employees %></td>
			<td>
				<% if (model[i].compiledAddress) { %>
				<%= model[i].compiledAddress %>
				<% } %>
			</td>
			<td>
				<% if (model[i].email && model[i].email.length > 0) { %>
					<a href="mailto:<%= model[i].email %>"><%= model[i].email %></a>
				<% } %>
			</td>
			<td>
				<ul>
					<% for (var j in model[i].executives) { %>
						<% 
						var matchesQuery = !departementRegex && !positionRegex && !locationRegex ? true : false;

						if (!matchesQuery && (departementRegex && model[i].executives[j].departement && departementRegex.test(model[i].executives[j].departement))) {
							matchesQuery = true;
						}
						if (!matchesQuery && (positionRegex && model[i].executives[j].position && positionRegex.test(model[i].executives[j].position))) {
							matchesQuery = true;
						}
						if (!matchesQuery && (locationRegex && model[i].executives[j].location && locationRegex.test(model[i].executives[j].location))) {
							matchesQuery = true;
						}

						if (matchesQuery) { 
						%>
							<li><%= model[i].executives[j].lastName %>, <%= model[i].executives[j].firstName %> 
							<% if (model[i].executives[j].title && model[i].executives[j].title.length > 0) { %> 
								(<%= model[i].executives[j].title %>)
							<% } %>
							<% if (model[i].executives[j].departement && model[i].executives[j].departement.length > 0 && model[i].executives[j].position && model[i].executives[j].position.length > 0) { %> 
								(<%= model[i].executives[j].position %>, <%= model[i].executives[j].departement %>)
							<% } else { %>
								<% if (model[i].executives[j].departement && model[i].executives[j].departement.length > 0) { %> 
									(<%= model[i].executives[j].departement %>)
								<% } %>
								<% if (model[i].executives[j].position && model[i].executives[j].position.length > 0) { %> 
									(<%= model[i].executives[j].position %>)
								<% } %>
							<% } %>
								<% if (model[i].executives[j].mailAddresses && model[i].executives[j].mailAddresses.length > 0) { %>
								<ul style="list-style-type: none;">
									<% for (var k = 0; k < model[i].executives[j].mailAddresses.length; k++) { %>
										<li style="margin-left:-3em;">
											<span class="<% model[i].executives[j].mailAddresses[k].state == 3 ? print("text-danger") : (model[i].executives[j].mailAddresses[k].state == 2 ? print("text-success") : "") %>"><%= model[i].executives[j].mailAddresses[k].address %></span>
											<br/>
											<a class="btn btn-default btn-sm" data-toggle="tooltip" title="Direkte Mail senden" href="mailto:<%= model[i].executives[j].mailAddresses[k].address %>"><i class="fa fa-envelope"></i></a>

											<a style="margin-left: 1.0em;" data-toggle="tooltip" title="Ungetestete Mail" class="btn btn-default btn-sm <% model[i].executives[j].mailAddresses[k].state == 0 ? print("disabled") : print("") %> setmailaddressstate" data-addressid="<%= model[i].executives[j].mailAddresses[k]._id %>" data-state="0"><i class="fa fa-archive"></i></a>
											<a data-toggle="tooltip" title="Unbeantwortete Mail" class="btn btn-primary btn-sm <% model[i].executives[j].mailAddresses[k].state == 1 ? print("disabled") : print("") %> setmailaddressstate" data-addressid="<%= model[i].executives[j].mailAddresses[k]._id %>" data-state="1"><i class="fa fa-send"></i></a>
											<a data-toggle="tooltip" title="Erfolgreiche Mail" class="btn btn-success btn-sm <% model[i].executives[j].mailAddresses[k].state == 2 ? print("disabled") : print("") %> setmailaddressstate" data-addressid="<%= model[i].executives[j].mailAddresses[k]._id %>" data-state="2"><i class="fa fa-check"></i></a>
											<a data-toggle="tooltip" title="Fehlgeschlagene Mail" class="btn btn-danger btn-sm <% model[i].executives[j].mailAddresses[k].state == 3 ? print("disabled") : print("") %> setmailaddressstate" data-addressid="<%= model[i].executives[j].mailAddresses[k]._id %>" data-state="3"><i class="fa fa-warning"></i></a>
										</li>
									<% } %>
								</ul>
								<% } %>
							</li>
						<% } %>
					<% } %>
				</ul>
			</td>
		</tr>
	<% } %>
	</tbody>
<% } else { %>
	<div>
		<h1>:-(</h1>
		<br/>
		Leider haben wir nichts passendes gefunden!
	</div>
<% } %>
