<% if (model && model.length > 0) { %>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Angestellte</th>
			<th>Adresse</th>
			<th>E-Mail</th>
			<th>Kontakt</th>
		</tr>
	</thead>
	<tbody>
	<% for (var i in model) { %>
		<tr>
			<td><%= ((state.currentPage - state.firstPage) * state.pageSize + parseInt(i) + 1) %></td> 
			<td>
				<a href="/!/location/<%=model[i]._id%>"><%=model[i].name %></a>
			</td>
			<td><%= model[i].employees %></td>
			<td>
				<% if (model[i].compiledAddress) { %>
				<%= model[i].compiledAddress %>
				<% } %>
			</td>
			<td>
				<% if (model[i].email && model[i].email.length > 0) { %>
					<a href="mailto:<%= model[i].email %>"><%= model[i].email %></a>
				<% } %>
			</td>
			<td>
				<ul>
					<% for (var j in model[i].executives) { %>
						<% 
						if (!model[i].executives[j]) { continue; }

						var matchesQuery = !departementRegex && !positionRegex && !locationRegex ? true : false;
						if (!matchesQuery && (departementRegex && model[i].executives[j].departement && departementRegex.test(model[i].executives[j].departement))) {
							matchesQuery = true;
						}
						if (!matchesQuery && (positionRegex && model[i].executives[j].position && model[i].executives[j].position.test(positionRegex))) {
							matchesQuery = true;
						}
						if (!matchesQuery && (locationRegex && model[i].executives[j].location && model[i].executives[j].location.test(locationRegex))) {
							matchesQuery = true;
						}
						if (matchesQuery) { 
							var executive = model[i].executives[j];
							var companyDomain = "";
							if (model[i].email) {
								companyDomain = model[i].email.split("@").pop();
							}
							var suggestedMails = [
								executive.lastName.replace(" ", "").toLowerCase() + "@" + companyDomain,
							];
							if (executive.lastName.indexOf(" ") > -1) {
								suggestedMails.push(executive.lastName.replace(" ", "_").toLowerCase() + "@" + companyDomain);
								suggestedMails.push(executive.lastName.replace(" ", ".").toLowerCase() + "@" + companyDomain);
							}
							if (executive.firstName && executive.firstName.length > 0) {
								suggestedMails.push(executive.firstName.replace(" ", "").toLowerCase() + "." + executive.lastName.replace(" ", "").toLowerCase() + "@" + companyDomain);
								suggestedMails.push(executive.firstName[0].toLowerCase() + "." + executive.lastName.replace(" ", "").toLowerCase() + "@" + companyDomain);
								if (executive.lastName.indexOf(" ") > -1 || executive.firstName.indexOf(" ") > -1) {
									suggestedMails.push(executive.firstName.replace(" ", "_").toLowerCase() + "." + executive.lastName.replace(" ", "_").toLowerCase() + "@" + companyDomain);
									suggestedMails.push(executive.firstName.replace(" ", ".").toLowerCase() + "." + executive.lastName.replace(" ", ".").toLowerCase() + "@" + companyDomain);
									suggestedMails.push(executive.firstName[0].toLowerCase() + "." + executive.lastName.replace(" ", "_").toLowerCase() + "@" + companyDomain);
									suggestedMails.push(executive.firstName[0].toLowerCase() + "." + executive.lastName.replace(" ", ".").toLowerCase() + "@" + companyDomain);
								}
							}
						%>
							<li><%= model[i].executives[j].lastName %>, <%= model[i].executives[j].firstName %> 
							<% if (model[i].executives[j].title && model[i].executives[j].title.length > 0) { %> 
								(<%= model[i].executives[j].title %>)
							<% } %>
							<% if (model[i].executives[j].departement && model[i].executives[j].departement.length > 0 && model[i].executives[j].position && model[i].executives[j].position.length > 0) { %> 
								(<%= model[i].executives[j].position %>, <%= model[i].executives[j].departement %>)
							<% } else { %>
								<% if (model[i].executives[j].departement && model[i].executives[j].departement.length > 0) { %> 
									(<%= model[i].executives[j].departement %>)
								<% } %>
								<% if (model[i].executives[j].position && model[i].executives[j].position.length > 0) { %> 
									(<%= model[i].executives[j].position %>)
								<% } %>
							<% } %>
								<% if (suggestedMails && suggestedMails.length > 0) { %>
								<ul>
									<% for (var i in suggestedMails) { %>
										<li><a href="mailto:<%= suggestedMails[i] %>"><%= suggestedMails[i] %></a></li>
									<% } %>
								</ul>
								<% } %>
							</li>
						<% } %>
					<% } %>
				</ul>
			</td>
		</tr>
	<% } %>
	</tbody>
<% } else { %>
	<div>
		<h1>:-(</h1>
		<br/>
		Leider haben wir nichts passendes gefunden!
	</div>
<% } %>
