<% if (model) { %>
<hr id="beforeMapDivider"/>
<div class="row" style="position:relative;">
	<div class="col-md-12 col-xs-12 col-sm-12" style="margin: 0px 0px 0px -15px !important;">
		<button class="btn btn-default btn-sm" id="increaseMapSize">Karte vergrößern</button>
		<div id="mapContainer"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-5">
		<form action="#" method="POST" role="form" class="form-horizontal">
			<fieldset>
				<input type="hidden" name="deletePictures" id="deletePictures" />
				<input type="hidden" name="addFlickrPicture" id="addFlickrPicture" />
				<legend>
				<% if (model._id) { %>
					Location bearbeiten
				<% } else { %>
					Location anlegen
				<% } %>
				</legend>

				<a href="#" class="btn btn-large btn-block btn-warning" id="getInfoFromFlickr">Daten aus Flickr übernehmen</a>
				
				<div class="form-group" class="hide" style="display:none !important;" id="flickrInitDataGroup">
					<label for="name" class="col-xs-3 col-sm-3 col-md-3 control-label">Flickr-URL</label>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<input class="form-control" type="text" name="flickrInitUrl" id="flickrInitUrl" placeholder="https://www.flickr.com/photos/.../.../" />
						<!-- value="https://www.flickr.com/photos/thomasbrueggemann_com/15449588398/" -->
						<br />
						<a href="#" class="btn btn-large btn-block btn-primary" id="loadInfoFromFlickr">Laden</a>
					</div>
				</div>

				<hr />

				<div class="form-group">
					<label for="name" class="col-xs-3 col-sm-3 col-md-3 control-label">Name</label>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<input class="form-control" type="text" name="name" placeholder="Name" value="<%=model.name %>" autofocus />
					</div>
				</div>

				<% if (model.location) { %>
			    <div class="form-group">
					<label class="col-sm-3 col-sm-3 col-md-3 control-label">Koordinaten</label>
			        <div class="col-xs-9 col-sm-9 col-md-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3" style="margin-top: -2em !important;">
			            <div class="form-inline" style="margin-left:-1.2em !important;">
			                <div class="form-group col-xs-11 col-sm-11 col-md-2">
			                    <input class="form-control" id="lat" type="text" name="location[lat]" placeholder="Latitude" value="<%=model.location[1] %>"/>
			                </div>
			                <div class="hidden-xs hidden-sm col-md-3 col-md-offset-2"></div>
			                <div class="form-group col-xs-12 col-sm-12 col-md-2">
								<input class="form-control" id="lng" type="text" name="location[lng]" placeholder="Longitude" value="<%=model.location[0] %>"/>
			                </div>
			            </div>
			        </div>
			    </div>
				<% } %>

				<% if (model.address) { %>
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3 control-label">Adresse</label>
			        <div class="col-xs-9 col-sm-9 col-md-9">
						<input class="form-control" type="text" name="address[name]" placeholder="Name" value="<%=model.address.name %>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9">
						<input class="form-control" type="text" name="address[street]" placeholder="Straße" value="<%=model.address.street %>" />
					</div>
				</div>
			    <div class="form-group">
			        <div class="col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9">
			            <div class="form-inline" style="margin-left:-1.2em !important;">
			                <div class="form-group col-xs-6 col-sm-6 col-md-1">
			                    <input class="form-control" type="text" name="address[zip]" placeholder="PLZ" value="<%=model.address.zip %>"/>
			                </div>
			                <div class="hidden-xs hidden-sm col-md-3 col-md-offset-3"></div>
			                <div class="form-group col-xs-6 col-sm-6 col-md-2">
								<input class="form-control" type="text" name="address[city]" placeholder="Stadt" value="<%=model.address.city %>"/>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9">
						<input class="form-control" type="text" name="address[county]" id="county" placeholder="Gemeinde" value="<%=model.address.county %>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9">
						<input class="form-control" type="text" name="address[region]" id="region" placeholder="Bundesland" value="<%=model.address.region %>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9">
						<input class="form-control" type="text" name="address[country]" id="country" placeholder="Land" value="<%=model.address.country %>" />
					</div>
				</div>
				<% } %>

				<div class="form-group">
					<label for="description" class="col-sm-3 control-label">Beschreibung</label>
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9">
						<textarea class="form-control moveUp" name="description" placeholder="Beschreibung" rows="4"><%=model.description %></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="col-sm-3 control-label">Stichwörter</label>
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9">
						<textarea class="form-control moveUp" name="tags_" placeholder="Stichwort 1, Stichwort 2, ..." rows="4"><%=model.description %></textarea>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6">
						<a class="btn btn-large btn-block btn-warning" href="#" onclick="event.preventDefault();window.router.navigate('!/location/<%= model._id %>', true);">Abbrechen</a>
					</div>
					<div class="clearfix visible-sm visible-xs"><br/></div>
					<div class="col-xs-12 col-sm-12 col-md-6">
						<button class="btn btn-large btn-block btn-primary" type="submit">Speichern!</button>
					</div>
					<div class="clearfix visible-sm visible-xs"><br/></div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<% if (model._id) { %>
					<a class="btn btn-large btn-block btn-default" href="/!/editLocation/<%=model._id %>/+picture">Bilder hinzufügen</a>
				<% } else { %>
					<a class="btn btn-large btn-block btn-default disabled" href="#">Bilder hinzufügen <small>(erst speichern)</small></a>
				<% } %>
			</div>
		</div>
		<br/>
		<div class="row" id="flickrPhotoButtonRow">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<% if (model._id) { %>
					<a class="btn btn-large btn-block btn-default" href="#" id="addFlickrPhoto">Bild von Flickr hinzufügen</a>
				<% } else { %>
					<a class="btn btn-large btn-block btn-default disabled" href="#" id="addFlickrPhoto">Bild von Flickr hinzufügen <small>(erst speichern)</small></a>
				<% } %>
			</div>
		</div>
		<div class="form-group" class="hide" style="display:none !important;" id="addFlickrPhotoGroup">
			<label for="name" class="col-sm-3 control-label">Flickr-URL</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" name="flickrAddUrl" id="flickrAddUrl" placeholder="https://www.flickr.com/photos/.../.../" />
				<br />
				<a href="#" class="btn btn-large btn-block btn-primary" id="addPhotoFromFlickr">Foto Hinzufügen</a>
			</div>
		</div>
		<hr />
		<% if (model.pictures) { %>
		<div class="row">
			<% for (pic in model.pictures) { %>
			<% var picture = model.pictures[pic] %>
            <div class="col-lg-4 col-md-5 col-xs-7 thumb">
                <a class="thumbnail" href="#">
                	<% if(picture.fileName) { %>
	                  <% if(isRetina()) { %>
				      	<img class="img-responsive" src="/uploads/<%=model._id %>/square/<%=picture.fileName %>@2x.jpg" alt="<%= model.name%> - <%=(++pic) %>">
				      <% } else { %>
				      	<img class="img-responsive" src="/uploads/<%=model._id %>/square/<%=picture.fileName %>.jpg" alt="<%= model.name%> - <%=(++pic) %>">
				      <% } %>
				    <% } else if(picture.flickrBase) { %>
				  	  <% if(isRetina()) { %>
				  		<img class="img-responsive" src="<%=picture.flickrBase %>.jpg" alt="<%= model.name%> - <%=(++pic) %>">
				  	  <% } else { %>
				    	<img class="img-responsive" src="<%=picture.flickrBase %>_m.jpg" alt="<%= model.name%> - <%=(++pic) %>">
				      <% } %>
				    <% } %>
				    <a class="btn btn-danger deletePicture" href="#" data-number="<%=pic %>">Löschen</a>
                </a>
            </div>
            <% } %>
        </div>
		<% } %>
	</div>

</div>

<% } %>