<% if (model) { %>
  <h3>MailListe von <%= moment(model.created).calendar() %></h3>
  <h6>an <%= (model.sendTo ? model.sendTo.length : "0") %>  Personen / <%= (model.preparedMails && model.sentMails ? (model.preparedMails.length + model.sentMails.length) : "0") %> Adressen</h6>
  <span><%= (model.sentMails ? model.sentMails.length : "0") %> 
  <% if (model.from) { %> als "<%= model.from.name %>" <%= model.from.address %> <% } %>
  gesendet.</span>
  <span><%= (model.answers ? model.answers.length : "0") %> Antworten erhalten.</span>
  <nav><ul class="pagination"></ul></nav>
  <table class="table results">
  </table>
  <nav><ul class="pagination"></ul></nav>
<% } %>