<% if (model && model.length > 0) { %>
	<thead>
		<tr>
			<th></th>
			<th>Erstellt</th>
			<th>Empfänger</th>
			<th>Gesendet</th>
			<th>Ausstehend</th>
			<th>Antworten</th>
			<th>Template</th>
		</tr>
	</thead>
	<tbody>
	<% for (var i in model) { %>
		<tr>
			<td><%= ((state.currentPage - state.firstPage) * state.pageSize + parseInt(i) + 1) %></td> 
			<td>
				<% if (model[i].created) { %> 
					<%= model[i].created ? moment(model[i].created).calendar() : "" %>
				<% } %>
			</td>
			<td>
				<%= (model[i].sendTo ? model[i].sendTo.length : "0") %>	Personen / 
				<%= (model[i].preparedMails && model[i].sentMails ? (model[i].preparedMails.length + model[i].sentMails.length) : "0") %> Adressen
				<a class="btn btn-warning stockUp" data-maillistid="<%= model[i]._id %>">E-Mails aufstocken</a>
			</td>
			<td>
				<%= (model[i].sentMails ? model[i].sentMails.length : "0") %>
			</td>
			<td>
				<% if (model[i].preparedMails && model[i].preparedMails.length > 0) { %> 
					<a class="btn btn-warning sendUnsent" data-maillistid="<%= model[i]._id %>"><span class="badge"><%= model[i].preparedMails.length %></span> Nachsenden</a>
				<% } else { %>
					0
				<% } %>
			</td>
			<td>
				<%= (model[i].answers ? model[i].answers.length : "0") %>
			</td>
			<td>
				<% console.log(model[i].template); if (model[i].template && model[i].template.subject && model[i].template.content) { %>
				<a class="btn btn-default" tabindex="9999" role="button" data-trigger="focus" data-placement="left" data-toggle="popover" title="<%= model[i].template.subject.replace(/<br\s*[\/]?>/gi, "\n").replace(/<\/?[^>]+(>|$)/g, "").replace('\"', '\\"').replace("\n", "<br/>") %>" data-content="<%= model[i].template.content.replace(/<br\s*[\/]?>/gi, "\n").replace(/<\/?[^>]+(>|$)/g, "").replace('\"', '\\"').replace("\n", "<br/>") %>">anzeigen</a>
				 <% } %>
			</td>
		</tr>
	<% } %>
	</tbody>
<% } else { %>
	<div>
		<h1>:-(</h1>
		<br/>
		Leider haben wir nichts gefunden!
	</div>
<% } %>
