<div class="row" style="padding-left: 1em;">
	<h3>Starte hier deine Suche!</h3>
	<p>Nutze die Seitenleiste um die Suche anzupassen.</p>
</div>

<hr id="beforeMapDivider" />

<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
		<h4 style="padding-top:0;margin-top:0;">Verfeinern</h4>

	    <div>
			<form class="form" id="search_details" action="#">
				<div class="form-group form-group-sm">
					<input class="form-control" type="text" name="company[name]" placeholder="Firmenname" />
				</div>
				<div class="form-group form-group-sm">
					<input class="form-control" type="text" name="company[employees[gt]" placeholder="Angestellte (>=)" />
				</div>
				<div class="form-group form-group-sm">
					<input class="form-control" type="text" name="company[employees[lt]" placeholder="Angestellte (<=)" />
				</div>
				<div class="form-group form-group-sm">
					<input class="form-control" type="text" name="company[branch[NACE]" placeholder="Branche (NACE)" />
				</div>
				<div class="form-group form-group-sm">
					<input class="form-control" type="text" name="company[branch[USSIC]" placeholder="Branche (US-SIC)" />
				</div>
				<div class="form-group form-group-sm">
					<input class="form-control" type="text" name="executive[position]" placeholder="Executive-Position" />
				</div>
				<div class="form-group form-group-sm">
					<input class="form-control" type="text" name="executive[departement]" placeholder="Executive-Abteilung" />
				</div>
				<div class="form-group form-group-sm">
					<input class="form-control" type="text" name="executive[location]" placeholder="Executive-Ort" />
				</div>
				<div class="form-group form-group-sm">
					<hr/>
				</div>
				<div class="form-group form-group-sm">
					<a href="#results" class="btn btn-primary btn-block triggerSearch">Aktualisieren!</a>
				</div>
				<div class="form-group form-group-sm">
					<a href="/!/search" class="btn btn-warning btn-block" onclick="document.getElementById('search_details').reset();">Zurücksetzen</a>
				</div>
			</form>
		</div>  
	</div>
	<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
		<div id="info"></div>
		<nav><ul class="pagination"></ul></nav>
		<table class="table table-striped table-hover results" id="searchResults">
		</table>
		<nav><ul class="pagination"></ul></nav>
	</div>
</div>